body{
    font-family: Arial, sans-serif, Helvetica;
    margin: 0px;
    font-size: 1.5vw;
}
body > header{
    background-color: darkblue;
    display: flex;
    color: yellow;
    justify-content: space-around;
}

body > header > h1{
    padding-top: 5px;
}

body > header > nav > ul{
    display: flex;
    list-style-type: none;
    padding-top: 20px;
}
.navbutton{
    padding: 8px;
    margin: 16px;
    text-decoration: none;
    color: yellow;
    border: 1px solid yellow;
    border-radius: 10%;
}

.profile_pics{
    border-radius: 100%;
}

#main-content {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

#main-content >aside {
    padding: 20px;
}

.profiles{
    display: flex;
    justify-content: space-around;
}

.profiles > ul{
    list-style-type: none;
}

.profiles > ul > li{
    margin-bottom: 15px;
    font-weight: bold;
    margin: 0px;
    padding: 10px;
    border: 1px solid;
}

.separator {
    width: 1px;
    background-color: black;
    margin: 0 10px;
    height: auto;
    align-self: stretch;
}



form {
    text-align: center;
}

#form_title{
    text-align: center;
}



body > footer {
    background-color: darkblue;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

body > footer > h2{
    color: yellow;
    padding-top: 5px;
}

body > footer > ul{
    display: flex;
    list-style-type: none;
}

body > footer > ul > li {
    padding: 8px;
    border: 1px solid yellow;
    border-radius: 10%;
    margin-left: 8px;
    margin-right: 8px;
}

body > footer > ul > li > a{
    text-decoration: none;
    color: yellow;
}